!!!strict
%html{html_attrs}
  %head
    %meta{:'http-equiv' => "Content-Type", :content => "text/html; charset=utf-8"}
    %meta{:name => "lang", :content => "en"}

    %title
      = page.title

    %meta{:name => "description", :content => ""}
    %meta{:name => "keywords", :content => ""}

    %meta{:name => "copyright", :content => "Handcrafted"}
    %meta{:name => "author", :content => "Handcrafted"}

    %link{:type => "text/css", :href => "/stylesheets/site.css", :rel => "stylesheet", :media => "all"}

    %script{:type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"}
    %script{:type => "text/javascript", :src => "/javascripts/plugins/jquery.tools.min.js"}
    %script{:type => "text/javascript", :src => "/javascripts/plugins/jquery.livequery.js"}
    %script{:type => "text/javascript", :src => "/javascripts/site.js"}

    %meta{:name => "robots", :content => "index, follow"}
    %meta{:name => "robots", :content => "noodp, noydir"}
    %meta{:name => "googlebot", :content => "index, follow"}
  %body
    .wide
      .narrow
        .container
          #header
            %h1
              %a{:href => "/"}
                Handcrafted Jekyll
            %h2
              %a{:href => "/"}
                a nice jekyll starting point
          #body
            = content
    .wide#footer
      .narrow
        .container
          %p
            %a{:href => "http://gethandcrafted.com/", :rel => "home"}<
              Handcrafted
            &ndash;
            = "All Content Copyright &copy; 2008 - #{Time.now.year} Handcrafted, LLC"
          %p All Trademarks and Copyrights remain the property of their respective owners.